/* Shared styles for Hover + Active */
.navbar-items-container:hover .icon-navbar-mask,
.navbar-items-container.active-link .icon-navbar-mask {
  background-color: var(--color-red-500);
}

.navbar-items-container:hover .navbar-items-texts,
.navbar-items-container.active-link .navbar-items-texts {
  color: var(--color-red-500);
  font-weight: bold;
}

/* Active-only background */
// .navbar-items-container.active-link {
//   background-color: var(--color-gray-50);
// }
