<div class="navbar-layout">
  @for (item of NAVBAR_ITEMS; track $index) {
    <div
      class="navbar-items-layout"
      (click)="item.path === App_Routes.AUTH ? navigateWithReplace(item.path) : null"
      [routerLink]="item.path !== App_Routes.AUTH ? item.path : null"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true, paths: 'exact' }"
    >
      <div class="navbar-items">
        <bank-load-img
          [image_path]="'/images/navbar/icons/'"
          [givenCssClass]="'navbar-inactive-icon'"
          [image_format]="'svg'"
          [givenLogicImgLoader]="item.icon"
        />
        <p class="navbar-inactive-text">{{ item.name }}</p>
      </div>
    </div>
  }
</div>
