@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-1-50: var(--color-primary-1-50);
  --color-primary-1-100: var(--color-primary-1-100);
  --color-primary-1-200: var(--color-primary-1-200);
  --color-primary-1-300: var(--color-primary-1-300);
  --color-primary-1-400: var(--color-primary-1-400);
  --color-primary-1-500: var(--color-primary-1-500);
  --color-primary-1-600: var(--color-primary-1-600);
  --color-primary-1-700: var(--color-primary-1-700);
  --color-primary-1-800: var(--color-primary-1-800);
  --color-primary-1-900: var(--color-primary-1-900);

  --color-primary-2-50: var(--color-primary-2-50);
  --color-primary-2-100: var(--color-primary-2-100);
  --color-primary-2-200: var(--color-primary-2-200);
  --color-primary-2-300: var(--color-primary-2-300);
  --color-primary-2-400: var(--color-primary-2-400);
  --color-primary-2-500: var(--color-primary-2-500);
  --color-primary-2-600: var(--color-primary-2-600);
  --color-primary-2-700: var(--color-primary-2-700);
  --color-primary-2-800: var(--color-primary-2-800);
  --color-primary-2-900: var(--color-primary-2-900);

  --color-primary-3-50: var(--color-primary-3-50);
  --color-primary-3-100: var(--color-primary-3-100);
  --color-primary-3-200: var(--color-primary-3-200);
  --color-primary-3-300: var(--color-primary-3-300);
  --color-primary-3-400: var(--color-primary-3-400);
  --color-primary-3-500: var(--color-primary-3-500);
  --color-primary-3-600: var(--color-primary-3-600);
  --color-primary-3-700: var(--color-primary-3-700);
  --color-primary-3-800: var(--color-primary-3-800);
  --color-primary-3-900: var(--color-primary-3-900);

  --color-primary-4-50: var(--color-primary-4-50);
  --color-primary-4-100: var(--color-primary-4-100);
  --color-primary-4-200: var(--color-primary-4-200);
  --color-primary-4-300: var(--color-primary-4-300);
  --color-primary-4-400: var(--color-primary-4-400);
  --color-primary-4-500: var(--color-primary-4-500);
  --color-primary-4-600: var(--color-primary-4-600);
  --color-primary-4-700: var(--color-primary-4-700);
  --color-primary-4-800: var(--color-primary-4-800);
  --color-primary-4-900: var(--color-primary-4-900);

  // Font Family
  --font-iransans: var(--font-inter);

  //font-size, weight, height
  --text-heading-one: var(--text-heading-one);
  --text-heading-two: var(--text-heading-two);
  --text-heading-three: var(--text-heading-three);
  --text-heading-four: var(--text-heading-four);
  --text-body-one: var(--text-body-one);
  --text-body-two: var(--text-body-two);
  --text-body-small: var(--text-body-small);
  --text-botton-medium: var(--text-botton-medium);
  --text-botton-medium_2: var(--text-botton-medium_2);
}

@layer utilities {
  .icon-navbar-mask {
    -webkit-mask: var(--icon-mask) no-repeat center;
    mask: var(--icon-mask) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
}

//=========================================== Design System =====================================
.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.grid-12-columns {
  @apply grid grid-cols-12;
}

.grid-10-columns {
  @apply grid grid-cols-10;
}

.grid-8-columns {
  @apply grid grid-cols-8;
}

.grid-6-columns {
  @apply grid grid-cols-6;
}

.grid-4-columns {
  @apply grid grid-cols-4;
}

.grid-3-columns {
  @apply grid grid-cols-3;
}

.grid-2-columns {
  @apply grid grid-cols-2;
}

//========================================================= Navbar =========================================
.nav-items {
  @apply col-span-2;
  @apply pl-(--padding-left-44);
  @apply mb-(--margin-bottom-39);
  @apply cursor-pointer;
}

.inactive-navbar-icon {
  @apply w-(--size-25) h-(--size-25);
  @apply bg-primary-2-200;
  @apply font-medium;
}

.inactive-navbar-text {
  @apply text-primary-2-100 text-heading-three font-medium;
  @apply mt-1;
}
