$primary-palette: (
  0: #000000,
  10: #002204,
  20: #00390a,
  25: #00460e,
  30: #005312,
  35: #006017,
  40: #106d20,
  50: #318836,
  60: #4da24e,
  70: #67be66,
  80: #82db7e,
  90: #9df898,
  95: #c8ffbf,
  98: #ecffe4,
  99: #f6fff0,
  100: #ffffff,
);

$secondary-palette: (
  0: #000000,
  10: #1a1c1c,
  20: #2f3131,
  25: #3a3c3c,
  30: #454747,
  35: #515353,
  40: #5d5f5f,
  50: #767777,
  60: #909191,
  70: #aaabab,
  80: #c6c6c7,
  90: #e2e2e2,
  95: #f0f1f1,
  98: #f9f9f9,
  99: #fcfcfc,
  100: #ffffff,
);

$tertiary-palette: (
  0: #000000,
  10: #001d32,
  20: #003352,
  25: #003f63,
  30: #004a74,
  35: #005786,
  40: #006399,
  50: #007dbf,
  60: #3197de,
  70: #55b2fa,
  80: #94ccff,
  90: #cde5ff,
  95: #e8f2ff,
  98: #f7f9ff,
  99: #fcfcff,
  100: #ffffff,
);

$neutral-palette: (
  0: #000000,
  10: #181d17,
  20: #2d322b,
  25: #383d35,
  30: #434841,
  35: #4f544c,
  40: #5b6058,
  50: #737970,
  60: #8d9289,
  70: #a8ada3,
  80: #c3c8be,
  90: #dfe4d9,
  95: #eef2e7,
  98: #f6fbf0,
  99: #f9fef3,
  100: #ffffff,
  4: #0b0f0a,
  6: #10150f,
  12: #1c211a,
  17: #262b24,
  22: #31362f,
  24: #353b33,
  87: #d7dcd1,
  92: #e5eadf,
  94: #ebf0e5,
  96: #f0f5ea,
);

$neutral-variant-palette: (
  0: #000000,
  10: #151e13,
  20: #293327,
  25: #343e32,
  30: #40493d,
  35: #4b5548,
  40: #576154,
  50: #707a6c,
  60: #899485,
  70: #a4ae9f,
  80: #bfcab9,
  90: #dbe6d5,
  95: #e9f4e3,
  98: #f2fdeb,
  99: #f6fff0,
  100: #ffffff,
);

$error-palette: (
  0: #000000,
  10: #410002,
  20: #690005,
  25: #7e0007,
  30: #93000a,
  35: #a80710,
  40: #ba1a1a,
  50: #de3730,
  60: #ff5449,
  70: #ff897d,
  80: #ffb4ab,
  90: #ffdad6,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);
