@font-face {
  font-family: "IRANSans";
  font-style: normal;
  src: url("../../assets/fonts/iran-sans/eot/IRANSansWeb.eot");
  src: url("../../assets/fonts/iran-sans/eot/IRANSansWeb.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/iran-sans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../../assets/fonts/iran-sans/woff/IRANSansWeb.woff") format("woff"),
    url("../../assets/fonts/iran-sans/ttf/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
